.mobile {
    &-menu {
        cursor: pointer;
        .line-1 {
            border-top: 2px solid #000;
            display: block;
            width: 30px;
        }

        .line-2 {
            @extend .line-1;
            margin: 7px 0;
        }

        .line-3 {
            @extend .line-1;
        }
    }
    &-close {
        cursor: pointer;

        .line-1 {
            border-top: 2px solid #FFF;
            display: block;
            width: 30px;
        }

    }
    &-dropdown {
        position: fixed;
        top: 0;
        left: -330px;
        width: 330px;
        height: 100vh;
        background-color: var(--primary-dark);
        transition: left 0.7s ease;
    }
}

@media screen and (max-width: 680px) {

}
