:root {
    --primary-dark: #191919;
    --primary-light: #FFF;
    --secondary-light: #f6f6f6;
    --secondary-dark: #000;
    --secondary-color-1: #EAE0D6;
    --secondary-color-2: #D3E0D3;
    --secondary-color-3: #CDDFE6;
    --secondary-color-4: #DAD6EA;
    --stroke-light: #E0E0E0;
    --stroke-dark: #3F3E3E;
    --info: #cce3ef;
    --warning: #efe7cc;
    --success: #d5efcc;
    --danger: #efcccc;
}

$styles: ('bg': background-color, 'c': color);

@each $key, $style in $styles {
    .#{$key} {
        &--primary-dark {
            #{$style}: var(--primary-dark);
        }
        &--primary-light {
            #{$style}: var(--primary-light);
        }
        &--secondary-light {
            #{$style}: var(--secondary-light);
        }

        &--secondary-dark {
            #{$style}: var(--secondary-dark);
        }

        &--secondary-color-1 {
            #{$style}: var(--secondary-color-1);
        }

        &--secondary-color-2 {
            #{$style}: var(--secondary-color-2);
        }

        &--secondary-color-3 {
            #{$style}: var(--secondary-color-3);
        }

        &--secondary-color-4 {
            #{$style}: var(--secondary-color-4);
        }

        &--stroke-light {
            #{$style}: var(--stroke-light);
        }

        &--stroke-dark {
            #{$style}: var(--stroke-dark);
        }

        &--info {
            #{$style}: var(--info);
        }

        &--success {
            #{$style}: var(--success);
        }

        &--warning {
            #{$style}: var(--warning);
        }

        &--danger {
            #{$style}: var(--danger);
        }
    }
}
