:root {
    --main-padding-h: 4.38rem;
    --main-padding-v: 2rem;
    --max-width: 1440px;
    --duration: .3s;
    --cubic: cubic-bezier(0.49, 0.17, 0, 0.87);
    --border-radius: 0.375rem;
    --primary-font: "Inter";
    --secondary-font: "Overused Grotesk";
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--primary-font), sans-serif;
}

body {
    width: 100%;
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

section {
    width: 100%;
}

a {
    color: unset;
    text-decoration: none;
}

.display-mobile {
    display: none;
}

@media screen and (max-width: 1280px) {
    :root {
        --main-padding-h: 1.25rem;
        --main-padding-v: 1rem;
    }
}

@media screen and (max-width: 1080px) {
    .hide-mobile {
        display: none;
    }
    .display-mobile {
        display: flex;
    }

    :root {
        --main-padding-h: 1.25rem;
        --main-padding-v: 1rem;
    }
}
