.h--auto {
    height: auto;
}

.h--fit-content {
    height: fit-content;
}

@for $i from 0 through 10 {
    $h: $i * 10;
    .h {
        &--#{$h} {
            height: #{$h}#{'vh'}
        }
    }
}

@media screen and (max-width: 1080px) {

}
