.img {
    &__about {
        width: 20rem;
        height: 33.875rem;
    }
    &__hidden {
        opacity: 0;
        transition: opacity var(--duration) var(--cubic);
    }
    &__hover:hover .img__hidden {
        opacity: 1;
    }
}

.block {
    &__about {
        width: 20rem;
    }
}

@media screen and (max-width: 1080px) {
    .img {
        &__about {
            width: 100%;
            height: unset;
            aspect-ratio: 1/1;
        }
    }

    .block {
        &__about {
            width: 100%;
        }
    }

}
