.img {
    &__service {
        width: 30rem;
        height: 33rem;
    }
    &__shop {
        width: 26.5rem;
        height: 36.8125rem;
    }
    &__icon {
        transform: translate(-40%, -40%);
    }
    &__glasses {
        width: 15rem;
        height: 33.875rem;
    }
}

.block {
    &__glasses {
        width: 15rem;
    }
}

@media screen and (max-width: 1080px) {
    .img {
        &__service {
            width: 100%;
            height: auto;
            aspect-ratio: 9/18;
        }
        &__shop {
            width: 26.5rem;
            height: 36.8125rem;
        }
        &__icon {
            transform: translate(-20%, -40%);
        }
        &__glasses {
            width: 100%;
            height: auto;
            aspect-ratio: 9/18;
        }
    }

    .block {
        &__glasses {
            width: 100%;
        }
    }
}
