.alert {
    color: var(--primary-dark);
    background-color: var(--primary-light);
    text-align: center;
    border-radius: 0.375rem;
    border: 1px solid var(--primary-dark);

    font-size: 0.875rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.03563rem;

    padding: 0.31rem 0.63rem;

    width: fit-content;
    user-select: none;
    &--primary-dark {
        color: var(--primary-light);
        border: none;
        background-color: var(--primary-dark);
    }
    &--primary-light {
        color: var(--primary-dark);
        border: none;
        background-color: var(--primary-light);
    }
    &--secondary-dark {
        color: var(--secondary-light);
        border: none;
        background-color: var(--secondary-dark);
    }
    &--secondary-light {
        color: var(--secondary-dark);
        border: none;
        background-color: var(--secondary-light);
    }
    &--secondary-color-1 {
        border: none;
        background-color: var(--secondary-color-1);
    }
    &--secondary-color-2 {
        border: none;
        background-color: var(--secondary-color-2);
    }
    &--secondary-color-3 {
        border: none;
        background-color: var(--secondary-color-3);
    }
    &--secondary-color-4 {
        border: none;
        background-color: var(--secondary-color-4);
    }
    &--stroke-light {
        border: none;
        background-color: var(--stroke-light);
    }
    &--stroke-dark {
        border: none;
        background-color: var(--stroke-dark);
    }
    &--info {
        border: none;
        background-color: var(--info);
    }
    &--success {
        border: none;
        background-color: var(--success);
    }
    &--danger {
        border: none;
        background-color: var(--danger);
    }
    &--warning {
        border: none;
        background-color: var(--warning);
    }
}
