card {
    border: none;
    border-radius: 1.25rem;
    display: flex;
    padding: 3.125rem 1.875rem 1.875rem 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: fit-content;
    background-color: var(--primary-light);
}

@media screen and (max-width: 1080px) {

}
