.filter {
    color: var(--primary-dark);
    background-color: var(--primary-light);
    text-align: center;
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-dark);

    font-family: var(--primary-font), sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;

    padding: 0.31rem 0.63rem;

    cursor: pointer;
    width: fit-content;
    transition: background-color var(--duration), color var(--duration), border var(--duration);
    &--active {
        color: var(--primary-light);
        background-color: var(--primary-dark);
    }
}
