.img {
    object-position: center;
    object-fit: cover;
}

.img-header {
    object-position: center 30%;
    object-fit: cover;
}

.img-left {
    aspect-ratio: 9/14;
}

.img-banner {
    height: 800px;
}

.link-img {
    overflow: hidden;
    line-height: 0;
    & > img {
        transition: transform var(--duration) var(--cubic);
    }
    & > img:hover {
        transform: scale(1.08);
        transform-origin: center;
    }
}

@media screen and (max-width: 1080px) {

    .img-mobile {
        object-position: center;
        object-fit: cover;
    }

    .img-banner {
        height: 400px;
    }
}
