.img {
    object-position: center;
    object-fit: cover;
}

.link-img {
    overflow: hidden;
    line-height: 0;
    & > img {
        transition: transform var(--duration) var(--cubic);
    }
    & > img:hover {
        transform: scale(1.08);
        transform-origin: center;
    }
}

@media screen and (max-width: 1080px) {

    .img-mobile {
        object-position: 90%;
        object-fit: cover;
    }

}
