.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    padding: var(--main-padding-v) 0;
    position: relative;
    height: 500px;
    &__next, &__prev {
        cursor: pointer;
        z-index: 999;
    }
    &__review {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: left 0.8s ease;
        padding: 3rem;
    }
}
