$pos: ("t": top, "b": bottom, "l": left, "r": right);

.border {
    border: 1px solid var(--primary-dark);
    @each $key, $p in $pos {
        &--#{$p} {
            border-#{$p}: 1px solid;
        }
    }
    &--primary-dark {
        border-color: var(--primary-dark);
    }
    &--primary-light {
        border-color: var(--primary-light);
    }
    &--secondary-dark {
        border-color: var(--secondary-dark);
    }
    &--secondary-light {
        border-color: var(--secondary-light);
    }
    &--secondary-color-1 {
        border-color: var(--secondary-color-1);
    }
    &--secondary-color-2 {
        border-color: var(--secondary-color-2);
    }
    &--secondary-color-3 {
        border-color: var(--secondary-color-3);
    }
    &--secondary-color-4 {
        border-color: var(--secondary-color-4);
    }
    &--stroke-light {
        border-color: var(--stroke-light);
    }
    &--stroke-dark {
        border-color: var(--stroke-dark);
    }
    &--info {
        border-color: var(--info);
    }
    &--success {
        border-color: var(--success);
    }
    &--danger {
        border-color: var(--danger);
    }
    &--warning {
        border-color: var(--warning);
    }
}

.border--rounded {
    border-radius: var(--border-radius);
}


@media screen and (max-width: 1080px) {

}
