.form-input, .form-textarea, .form-select {
    padding: 0.31rem;
    border: 1px solid var(--stroke-light);
    color: var(--primary-dark);
    background-color: var(--primary-light);
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0;
    font-family: var(--secondary-font), sans-serif;
    border-radius: var(--border-radius);
}

input[type="file"] {
    display: flex;
    flex-direction: row;
}

input[type="file"]::file-selector-button {
    color: var(--primary-dark);
    background-color: var(--primary-light);
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-dark);

    font-family: var(--primary-font), sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;

    padding: 0.31rem 1.2rem;
    margin-right: 1rem;
    width: fit-content;
    height: fit-content;
    transition: background-color var(--duration), color var(--duration), border var(--duration);
    &:hover {
        cursor: pointer;
        background-color: var(--secondary-color-1);
        color: var(--primary-dark);
        border: 1px solid var(--primary-dark);
    }
}

.form-file {
    cursor: pointer;
}

textarea {
    resize: vertical;
    width: 100%;
}

.form-check, .form-toggle {
    position: relative;
}

.form-check input, .form-toggle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.form-check label, .form-toggle label {
    display: grid;
    grid-template-areas: "checkbox label";
    gap: .7em;
    width: fit-content;
    cursor: pointer;
}

.form-check label, .form-toggle label {
    grid-template-columns: 1em 1fr;
}

.form-check label::before, .form-toggle label::before, .form-check label::after, .form-toggle label::after {
    content: "";
    grid-area: checkbox;
    display: block;
    margin-top: 0.25em;
}

.form-check label::before {
    width: 1em;
    height: 1em;
    border: 1px solid var(--primary-dark);
    background-color: var(--primary-light);
    transition: background-color .3s, border .3s;
}

.form-check input:checked + label::before {
    content: "";
    color: var(--light);
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}

.form-check input:checked + label::after {
    content: "";
    grid-area: checkbox;
    display: inline-block;
    transform: rotate(45deg) translate(0.3em, -0.2em);
    height: 0.6em;
    width: 0.3em;
    border-bottom: var(--primary-light) solid 2px;
    border-right: var(--primary-light) solid 2px;
}

.form-toggle label {
    grid-template-columns: 2em 1fr;
}

.form-toggle label::before {
    width: 2em;
    height: 1em;
    border: 1px solid var(--stroke-light);
    border-radius: 1em;
    background-color: var(--primary-light);
    transition: background-color .3s, border .3s;
}

.form-toggle label::after {
    position: relative;
    left: 2px;
    top: 2px;
    width: calc(1em - 2px);
    height: calc(1em - 2px);
    border: none;
    border-radius: 50%;
    background-color: var(--stroke-light);
    transition: background-color .3s, transform .3s;
}

.form-toggle input:checked + label::before {
    content: "";
    color: var(--light);
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
}

.form-toggle input:checked + label::after {
    transform: translateX(1em);
    background-color: var(--primary-light);
}

*:focus, .form-input:focus, .form-textarea:focus, .form-check input:focus + label::before, .form-toggle input:focus + label::before {
    box-shadow: 0 0 0.1em 0.1em var(--info);
    outline: none;
}

.form-label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -3%;
    font-family: "Overused Grotesk", sans-serif;
}

.errors {
    font-size: 14px;
    color: var(--danger);
    & > ul {
        list-style: none;
        margin: 0;
        padding: 0 5px;
        width: 350px;
    }
}


