:root {
    --primary-dark: #1E3A3D;
    --primary-light: #FFFFFF;
    --secondary-light: #FFFFFFB2;
    --secondary-dark: #1E3A3D;
    --secondary-color-1: #D7B592;
    --secondary-color-2: #D1DDD3;
    --secondary-color-3: #5E7567;
    --secondary-color-4: #F6F5F1;
    --stroke-light: #E0E0E0;
    --stroke-dark: #3F3E3E;
    --info: #B8D3F0;
    --warning: #F3DA80;
    --success: #B9D798;
    --danger: #F68282;
}

$styles: ('bg': background-color, 'c': color);

@each $key, $style in $styles {
    .#{$key} {
        &--primary-dark {
            #{$style}: var(--primary-dark);
        }
        &--primary-light {
            #{$style}: var(--primary-light);
        }
        &--secondary-light {
            #{$style}: var(--secondary-light);
        }

        &--secondary-dark {
            #{$style}: var(--secondary-dark);
        }

        &--secondary-color-1 {
            #{$style}: var(--secondary-color-1);
        }

        &--secondary-color-2 {
            #{$style}: var(--secondary-color-2);
        }

        &--secondary-color-3 {
            #{$style}: var(--secondary-color-3);
        }

        &--secondary-color-4 {
            #{$style}: var(--secondary-color-4);
        }

        &--stroke-light {
            #{$style}: var(--stroke-light);
        }

        &--stroke-dark {
            #{$style}: var(--stroke-dark);
        }

        &--info {
            #{$style}: var(--info);
        }

        &--success {
            #{$style}: var(--success);
        }

        &--warning {
            #{$style}: var(--warning);
        }

        &--danger {
            #{$style}: var(--danger);
        }
    }
}
