:root {
    --h1: 5rem;
    --h2: 3.6875rem;
    --h3: 3rem;
    --h4: 2rem;
    --h5: 1.25rem;
    --h6: 1.125rem;
    --font-heading: var(--secondary-font), sans-serif;
    --weight-heading: 400;
    --letter-spacing-heading: 0;
}

@for $i from 1 through 3 {
    h#{$i}, .h#{$i} {
        font-family: var(--font-heading), sans-serif;
        font-size: var(--h#{$i});
        font-weight: var(--weight-heading);
        line-height: 77%;
        letter-spacing: var(--letter-spacing-heading);
        margin: 0;
        overflow-wrap: break-word;
    }
}

@for $i from 4 through 6 {
    h#{$i}, .h#{$i} {
        font-family: var(--font-heading), sans-serif;
        font-size: var(--h#{$i});
        font-weight: var(--weight-heading);
        line-height: 77%;
        letter-spacing: var(--letter-spacing-heading);
        margin: 0;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 1080px) {
    :root {
        --h1: 3.4375rem;
        --h2: 2.1875rem;
        --h3: 2rem;
        --h4: 2rem;
        --h5: 1.5rem;
        --h6: 1rem;
    }
}
