p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0;
}

.text {
    line-height: 140%;
    letter-spacing: 0;

    &--s {
        font-size: 0.875rem;
        line-height: 150%;
        letter-spacing: 0;
    }

    &--m {
        font-size: 1.125rem;
        line-height: 150%;
        letter-spacing: 0;
    }

    &--l {
        font-size: 1.5rem;
        line-height: 150%;
        letter-spacing: 0;
    }
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.overline {
    text-decoration: overline;
}

.italic {
   font-style: italic;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

blockquote {
    border-left: 1px solid var(--primary-dark);
    margin: 0;
    padding: 0 2rem;

    & > p {
        font-size: 1.625rem;
        line-height: 150%;
        letter-spacing: -3%;
    }
}

@media screen and (max-width: 1080px) {
    .text {
        &--s {
            font-size: 0.875rem;
        }

        &--m {
            font-size: 1rem;
        }

        &--l {
            font-size: 1.25rem;
        }
    }
    .text-center-mobile {
        text-align: center;
    }
    .text-left-mobile {
        text-align: left;
    }
    .text-right-mobile {
        text-align: right;
    }

    blockquote {
        padding: 0 1.5rem;

        & > p {
            font-size: 1.25rem;
        }
    }
}